*,
*::after
*::before{box-sizing: border-box;}
.page-body{
margin: 0px;
font-family: sans-serif;
}
a{text-decoration: none;}
.page-header {
    
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.container {
    max-width: 1170px;
    margin-left: 400px;
}
.navbar{display: inline-block;}
.navbar-menu{display: inline-block;}
.navbar-menu-item{display: inline-block;font-size: 18px;margin-left: 72px;}

.navbar-menu-link{
    color: red;
}
.header-text {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    color: #373737;
    text-transform: uppercase;
}
.container-text{
    padding-top: 49px;
}
.paragraph-text{
    letter-spacing: 2.4px;
    line-height: 26px;
    text-align: center;
    color: #373737;
}
.paragraph-div {
    margin-left: 70px;
    margin-right: 70px;
}
.paragraph {
    padding-top: 40px;
}
.paragraph-article {
    padding-top: 30px;
}
.footer-btn {
    background-color: red;
    border-radius: 4px;
    margin-left: 45%;
    border: 1px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.8px;
    padding-left: 43px;
    padding-right: 43px;
    color: white;
    padding-top: 18px;
    padding-bottom: 17px;
}
.footer-blok {
    padding-top: 66px;
}

.footer-btn-text {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.8px;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.footer-text {
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 863px;
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 30px;
}

